<div #div class="yt-carousel full" [ngStyle]="{backgroundImage: 'url('+bigBackground+')', backgroundSize: size}">
  <div [ngClass]="{show: show[0]}" class="yt-carousel yt-line" [ngStyle]="{backgroundImage: 'url('+linesBackground+')', backgroundSize: size}"></div>
  <div [ngClass]="{show: show[1]}" class="yt-carousel yt-line" [ngStyle]="{backgroundImage: 'url('+linesBackground+')', backgroundSize: size}"></div>
  <div [ngClass]="{show: show[2]}" class="yt-carousel yt-line" [ngStyle]="{backgroundImage: 'url('+linesBackground+')', backgroundSize: size}"></div>
  <div [ngClass]="{show: show[3]}" class="yt-carousel yt-line" [ngStyle]="{backgroundImage: 'url('+linesBackground+')', backgroundSize: size}"></div>
  <div [ngClass]="{show: show[4]}" class="yt-carousel yt-line" [ngStyle]="{backgroundImage: 'url('+linesBackground+')', backgroundSize: size}"></div>
  <div [ngClass]="{show: show[5]}" class="yt-carousel yt-line" [ngStyle]="{backgroundImage: 'url('+linesBackground+')', backgroundSize: size}"></div>
  <div [ngClass]="{show: show[6]}" class="yt-carousel yt-line" [ngStyle]="{backgroundImage: 'url('+linesBackground+')', backgroundSize: size}"></div>
  <div [ngClass]="{show: show[7]}" class="yt-carousel yt-line" [ngStyle]="{backgroundImage: 'url('+linesBackground+')', backgroundSize: size}"></div>
  <div [ngClass]="{show: show[8]}" class="yt-carousel yt-line" [ngStyle]="{backgroundImage: 'url('+linesBackground+')', backgroundSize: size}"></div>
  <div [ngClass]="{show: show[9]}" class="yt-carousel yt-line" [ngStyle]="{backgroundImage: 'url('+linesBackground+')', backgroundSize: size}"></div>
</div>
